{{#with cat}}
<h1>{{name}}</h1>
<img class="cube" src="/static/images/{{imageUrl}}">
<div class="details">
	<p><span>Description:</span>{{description}}</p>
	<p><span>Stars:</span>{{stars}}</p>
	<a class="btn" href="/">Back</a>
</div>
{{/with}}