<h1>Edit Cat</h1>
{{#with cat}}
<div class="form">
	<form action="/edit/{{id}}" method="POST" enctype="multipart/form-data">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" value="{{name}}">
		<label for="name">Description</label>
		<textarea id="name" name="description">{{description}}</textarea>
		<label for="stars">Stars</label>
		<input type="number" id="stars" name="stars" value="{{stars}}">
		<input type="submit" value="Confirm Edit">
	</form>
</div>
{{/with}}